<div ng-controller="appointmentCalendarController">
		<h3>Calendario</h3>
		
		
		
<div class="calendar">	
	
	<nav class="purple lighten-2 ">
    <div class="navegador ">
      <a href="#!" class="brand-logo center" ><div class="current">{{currentMonth | date : 'MMMM yyyy'}}</a>
      <ul class="left hide-on-med-and-down">
		<li class="prev"><a href="appointments-calendar/{{prevMonth | date : 'yyyyMMdd'}}"><<</a></li>
		<li class="next"><a href="appointments-calendar/{{nextMonth | date : 'yyyyMMdd'}}">>></a></li>
      </ul>
    </div>
  	</nav>

			    <table> 
		    <thead>  
			      <tr class="calendar_header">
			        <th class="calendar_day monday">Lunes</th>
	            <th class="calendar_day tuesday">Martes</th>
	            <th class="calendar_day wednesday">Miércoles</th>
	            <th class="calendar_day thursday">Jueves</th>
	            <th class="calendar_day friday">Viernes</th>
	            <th class="calendar_day saturday">Sábado</th>
	            <th class="calendar_day sunday">Domingo</th>
			      </tr>	    
			 </thead>
			 <tbody>
				<tr class="calendar_body" data-ng-repeat="days in dates">			
					<td class="calendar_day {{day.date | date:'EEEE' | lowercase}}" data-ng-repeat="day in days">
						<span class="number_day">{{day.date | date: 'd'}}</span>
						<span class="number_appointments" data-ng-click="openDayAppointments(day.date)">
						{{day.appointmentsCount}}
						</span>
					</td>
				</tr>
				</tbody>
			</table>	
	</div>
</div>



