
		<h3>Horario</h3>

<table>
		<tr>
			<th class="deep-purple-text subrayado" >Hora</th>
			<th class="deep-purple-text subrayado">Mascota</th>
			<th class="deep-purple-text subrayado">Estado de la cita</th>
			<th class="deep-purple-text"><i class="material-icons">add</i></th>
		</tr>
		
		
		
		<tr ng-repeat="x in timetable">
			<td class="deep-purple-text">{{x.hour}}</td> 
				<td><span ng-show="x.appointment">{{x.appointment.petId.name}}<span></td>
				<td><span ng-show="x.appointment">{{x.appointment.status}}<span></td>
			<td>
				<a  ng-show="x.appointment" ng-click="modificarCita(x.appointment._id)"><i class="material-icons deep-purple-text">create</i></a>
				<a  ng-show="!x.appointment" ng-click="crearCita()"><i class="material-icons deep-purple-text">add_box</i></a>
			</td>
		</tr>

</table>


			