

<div ng-controller="CustomerDetailsController">
											

<h3> Cliente número:</h3>  {{customer._id}}<br><br><br><br><br>

Dni:<input type="text" ng-model="customer.dni" placeholder="" /><br>
Nombre:<input type="text" ng-model="customer.firstName" placeholder="" /><br>
Apellido:<input type="text" ng-model="customer.lastName" placeholder="" /><br>
Telefono:<input type="text" ng-model="customer.phone" placeholder="" /><br>
Email:<input type="text" ng-model="customer.email" placeholder="" /><br>
Note:<input type="text" ng-model="customer.note" placeholder="" /><br>
<br><br><br><br><br>




<table>
		<thead>
			<th>Nombre</th>
			<th>Fecha nacimiento</th>
			<th>Especie</th>
			<th>Raza </th>
			<th>Chip</th>
			<th>Descripción</th>
		</thead>
		<tr ng-repeat="pet in customerPets">
			<td><a ng-href="/customers/{{customer._id}}/pets/{{pet._id}}" >{{pet._id}}</a></td>
			<td>{{pet.name}}</td>
			<td>{{pet.birthdate}}</td>
			<td>{{pet.specie}}</td>
			<td>{{pet.race}}</td>
			<td>{{pet.chipNumber}}</td>
			<td>{{pet.description}}</td>
		</tr>
	</table>
<a href="/customers/{{customer._id}}/pets/add">Añadir Mascota</a>
<br>
<input type="button" ng-show="isNew()" ng-click="submit()" value="guardar">
<!-- <input type="button" ng-show="!isNew()" ng-click="update()" value="modificar"> -->

</div>