<div data-ng-controller="PetDetailsController">

<br><br><br><br><br>
<h3 class="title">petstore</h3>

<!-- directivas -->

<label-imput data-label="Nombre:" data-model="pet.name" placeholder=""/>

<label-imput data-label="Nacimiento: " data-model="pet.birthdate" placeholder=""/>

<label-imput data-label="Especie: " data-model="pet.specie" placeholder=""/>

<label-imput data-label="Raza: " data-model="pet.race" placeholder=""/>

<label-imput data-label="Chip: " data-model="pet.chipNumber" placeholder=""/>

<label-imput data-label="Foto: " data-model="pet.photoUrl" placeholder=""/>

<label-imput data-label="ID Cliente: " data-model="pet.customerId" placeholder=""/>

<label-imput data-label="Descripción: " data-model="pet.description" placeholder=""/>

<br /> <br />


<!-- <button-pet data-show="isNew()" data-click="submit()" data-value="añadir"> -->
<input type="button" data-ng-show="!isNew()" data-ng-click="update()" value="modificar">

<input type="button" data-ng-show="isNew()" data-ng-click="submit()" value="añadir">
<!-- <input type="button" data-ng-show="!isNew()" data-ng-click="remove()" value="borrar"> -->

</div>